# Database
NEXT_PUBLIC_SUPABASE_URL=https://asadlmicfgvgeespouan.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_CTGZvoR5a2R74-7kLmo2iw_v6ywpCJs
SUPABASE_SERVICE_ROLE_KEY=sb_secret_wmKIyEQhaaVd-bXJ_9_43Q_qwkdixDv

# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=votre-secret-nextauth-tres-securise

# Twitch API
TWITCH_CLIENT_ID=4ieomv4l32flcgfndgjbroaxxmrb5m
TWITCH_CLIENT_SECRET=votre-secret-twitch
TWITCH_REDIRECT_URI=http://localhost:3000/api/auth/callback/twitch

# Stripe
STRIPE_PUBLISHABLE_KEY=pk_test_votre_cle_publique
STRIPE_SECRET_KEY=sk_test_votre_cle_secrete
STRIPE_WEBHOOK_SECRET=whsec_votre_secret_webhook

# Admin
ADMIN_DEFAULT_EMAIL=admin@twitchtag.com
ADMIN_DEFAULT_PASSWORD_HASH=$2a$10$...
